<% include ../partials/header %>

<link rel="stylesheet" href="/stylesheets/tmp1.css">
<header class="jumbotron" id="myheader"> 
	<!-- add another div to create margin -->
	<div class="container">
		<h1 id="firstline">Welcome to the Foodies Zone!</h1> 
		<p id="secondline">nourish daily life &amp soul</p>
		<p id="mybtn">
			<a class="btn btn-danger btn-lg" href="/recipes/new"> Add a new recipe! </a>
		</p>
	</div>

</header>

<div class="row text-center " style="display:flex; flex-wrap: wrap;">
	<% recipes.forEach(function(recipe){ %>
	<div class="col-md-4 col-sm-6">
		<div class="thumbnail">
			<img  class="img-responsive" style="width:95%; height:230px; background-size: cover; background-position: center;" src="<%= recipe.image %>">
			<div class="caption">
				<h4><%= recipe.name %></h4>
				<% if (recipe.rating === 0) { %>
                    <em>No reviews yet.</em>
                    <% } else { %>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star <% if (recipe.rating > 1.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (recipe.rating > 2.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (recipe.rating > 3.5) { %> checked <% } %>"></span>
                    <span class="fa fa-star <% if (recipe.rating > 4.5) { %> checked <% } %>"></span>
                <% } %>
			</div>
			<p>
				<a href="/recipes/<%= recipe._id %>" class="btn btn-primary">Dive in!</a>
			</p>
		</div>	
	</div>
	<% }); %>
</div>



<% include ../partials/footer %>